<footer class="footer">
    <p class="username">Calvillo Armenta Adan Francisco</p>
</footer>

<style>
    .footer {
        background-color: #333; /* Color de fondo */
        color: white;           /* Color del texto */
        text-align: center;     /* Centrar el texto */
        padding: 20px;         /* Espaciado interno */
        position: fixed;        /* Fijar en la parte inferior */
        left: 0;                /* Alinear a la izquierda */
        bottom: 0;              /* Alinear en la parte inferior */
        width: 100%;            /* Ancho completo */
    }

.username {
        margin: 0;              /* Eliminar márgenes */
    }
</style>